html,body{
	padding: 0px;
	margin: 0px;
  font-family: 'Poiret One', cursive;
}

.row{
	padding: 0px;
	margin:0px;
}
.container-fluid
{
	height: 400px;
  padding-left: 0px;
  margin-left: 50px;
  
}

.container1{
  height: 400px;
  max-width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.container2
{
	height: 400px;
	max-width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}

.container3
{
	height: 400px;
	max-width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.r-hex {
  overflow: hidden;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: 12em;
  margin-left: 6em;
  width: 22em; height: 20em;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: 1.5em;

}
.r-hex *, .r-hex *:before {
  display: block;
  overflow: hidden;
  width: inherit; height: inherit;
  border-radius: inherit;  
}
.r-hex-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  opacity: .5;
  transition: opacity .75s;
  cursor: pointer;

}
.r-hex:first-child .r-hex-inner:before, .r-hex-inner-2 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background-image: radial-gradient(circle, #BDAC2A,#04062A);
  content: 'GJHGJHGHJG';
}
.r-hex-inner-2:before {
  margin-top: -0.25em;
  height: 15em;
  transform: skewX(-30deg) rotate(-90deg);
  background-size:cover;
  line-height: 15em;
  text-align: center;
  content: 'HJGFHGH';

}
.r-hex-inner:hover { opacity: 1.5; }

.c2rhex {
	margin-right: 10em;
  	margin-left: 0em;
    padding-left: 0em;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  width: 200px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 200px;
  border-bottom: 3px solid #BDAC2A;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #04062A;
}


.searchTerm:focus{
  color: #BDAC2A;
}

.searchButton {
  width: 40px;
  height: 40px;
  background: #BDAC2A;
  text-align: center;
  color: #04062A;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.a1{
	margin-left: 300px; 
}

.a2{
	margin-left: 50px;
}

a:hover{
	text-decoration: none;
	color:#b3b300;
	
}

.block1{
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	color: #04062A;
}

.block2{
	background-color: black;
	height: 50px;
	width: 50px;
	margin-left: 15em;
	margin-top: 400px;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}